.button{
    background-color: transparent;
    border: 2px solid var(--yellow);
    color: var(--yellow);
    cursor: pointer;
    width: 100px;
    height: 50px;
    transition: .5s;
}
.button:hover{
    color: white;
    background-color: var(--yellow);
}