.navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}
.logo{
    font-weight: bold;
    font-size: 22px;
}
.navLinks{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}