.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.footerLinks{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo{
    cursor: pointer;
}